.benefits {
  background-color: var(--snow-color);

  @include mobile {
    padding-top: 39px;
    padding-bottom: 53px;
  }

  &__title {
    @include mobile {
      margin-bottom: 41px;
      font-size: 30px;
      line-height: 140%;
      text-align: center;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;

    @include mobile {
      grid-template-columns: repeat(4, 1fr);
      gap: 31px;
    }
  }

  &__item {
    grid-column: 4 span;

    @include high-desktop {
      grid-column: 6 span;
    }

    @include mobile {
      grid-column: 4 span;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__subtitle {
    display: inline-flex;
    align-items: center;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: var(--jaguar-color);

    @include mobile {
      & {
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;
      }

      &--tooltip {
        padding-left: 38px;
      }
    }
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--jaguar-07-color);

    @include mobile {
      font-size: 16px;
      text-align: center;
    }
  }
}
