.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--jaguar-color);

  &__logo {
    display: inline-block;
    margin-bottom: 5px;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__copy {
    font-size: 16px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.7);
  }
}
