.hero {
  min-height: 1080px;
  padding-top: 344px;
  padding-bottom: 344px;
  background-color: var(--jaguar-color);

  &__container {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -56%;
      right: -12.8%;
      width: 783px;
      height: 917px;
      background-image: url('../img/hero-img.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right bottom;
    }
  }

  &__content {
    max-width: 516px;
  }

  &__title {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 70px;
    line-height: 160%;
    text-transform: uppercase;
    color: var(--white-color);

    &-text {
      display: block;
      max-width: 90%;
      padding-top: 20px;
      font-weight: 400;
      font-size: 20px;
      line-height: 160%;
      text-transform: initial;
    }
  }

  @include high-tablet {
    padding-bottom: 100px;
    min-height: auto;
  }
}
