.graph-modal {
  background-color: var(--whisper-color);
}

.modal__close {
  position: absolute;
  right: 40px;
  top: 40px;
  width: auto;
  height: auto;

  &--text {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--jaguar-07-color);
  }

  @include small-tablet {
    & {
      display: none;
    }
  }

  @include mobile {
    top: 11px;
    right: 11px;
  }

  &--img {
    display: none;
    width: 16px;
    height: 16px;
    background-image: url("../img/closeModal.svg");
    background-size: cover;
    background-repeat: no-repeat;

    @include small-tablet {
      & {
        display: block;
      }
    }

    @include mobile {
      width: 13px;
      height: 13px;
    }
  }
}

.popup {
  padding: 40px;
  box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid #F4F4F4;

  @include mobile {
    padding: 20px;
  }

  &__top {
    display: flex;
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__image {
    margin-right: 40px;

    @include mobile {
      width: 60px;
      height: 88px;
      margin-right: 10px;
    }
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: var(--jaguar-color);

    @include mobile {
      margin-bottom: 5px;
      font-size: 16px;
    }
  }

  &__post {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--jaguar-07-color);

    @include mobile {
      font-size: 12px;
      line-height: 140%;
    }
  }

  &__bottom-content {
    padding-top: 40px;
    max-height: 375px;

    @include mobile {
      padding-top: 20px;
      max-height: 275px;
    }
  }

  &__descr {
    margin-bottom: 20px;
  }

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: var(--jaguar-color);

    @include mobile {
      font-size: 14px;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: var(--jaguar-color);

    @include mobile {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }
}

.simplebar-track.simplebar-vertical {
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 5px;
  background: rgba(20, 16, 36, 0.08);
}

.simplebar-scrollbar::before {
  left: 0;
  right: 0;
  border-radius: 40px;
  width: 5px;
  background: var(--jaguar-color);
  opacity: 1;
}

.tabs {

  &__menu {
    position: relative;
    border-bottom: 1px solid rgba(20, 16, 36, 0.11);
    padding-bottom: 20px;

    @include mobile {
      & {
        height: 46px;
      }
    }
  }

  &__selected {
    display: none;

    & > * {
      pointer-events: none;
      margin-right: 7.5px;
    }

    @include mobile {
      & {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
        height: 46px;
        font-size: 16px;
        line-height: 160%;
        color: #fff;
        cursor: pointer;
      }

      &-icon {
        margin-top: 3px;
        width: 8px;
        height: 8px;
        background-image: url('../img/arrow.svg');
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotate(0deg);
        transition: transform .3s ease-in-out;

        &.is-active {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70%;

    @include small-tablet {
      max-width: 100%;
    }

    @include mobile {
      & {
        position: absolute;
        left: -200%;
        width: 100%;
        height: auto;
        flex-direction: column;
        background-color: #fff;
        z-index: 5;
        opacity: 0;
        visibility: hidden;
        border: 1px solid var(--jaguar-color);
        border-top: none;
        border-radius: 0 0 10px 10px;
        transition: opacity .3s ease-in-out, visibility .3s ease-in-out, transform .3s ease-in-out;

        &.is-active {
          opacity: 1;
          visibility: visible;
          transform: translateX(200%);
        }
      }

      &-item {
        width: 100%;
        padding: 5px 0;
        text-align: center;

        &:not(:last-child) {
          border-bottom: 1px solid var(--jaguar-color);
        }
      }
    }


    &-btn {
      font-weight: 400;
      font-size: 20px;
      line-height: 160%;
      color: var(--jaguar-color);

      &:focus {
        color: var(--fire-engine-red-color);
        background-color: transparent;
      }

      &--active {
        outline: none;
        color: var(--fire-engine-red-color);
        background-color: transparent;
      }

      @include mobile {
        & {
          width: 100%;
        }
      }
    }
  }
}
